/* styles/global.scss */
$primary-color: #2d2f36;

body {
  background-color: #f7f8fa;
  color: $primary-color;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  width: 100vw;
  min-height: 100vh;
  background:rgb(210, 218, 255);
  transition: 0.2s;
}
.container.dark{
  background: rgb(8, 7, 15);
}